@mixin white-gradient {
	background: linear-gradient(
	  to right,
	  rgba(255, 255, 255, 1) 0%,
	  rgba(255, 255, 255, 0) 100%
	);
  }
  
  $animationSpeed: 40s;
  
  // Animation
  @keyframes scroll {
	0% {
	  transform: translateX(-1000px);
	}
  
	50% {
	  transform: translateX(1000px);
	}
  
	100% {
	  transform: translateX(-1000px);
	}
  }
  .slide-track {
	animation: scroll $animationSpeed linear infinite;
	display: flex;
	animation-fill-mode: forwards;
  }
  
  // Styling
  .slider {
	align-items: center;
	display: flex;
	justify-content: center;
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
	height: 100px;
	margin: auto;
	overflow: hidden;
	position: relative;
  
	&::before,
	&::after {
	  @include white-gradient;
	  content: "";
	  height: 100px;
	  position: absolute;
	  width: 85px;
	  z-index: 2;
	}
  
	&::after {
	  right: 0;
	  top: 0;
	  transform: rotateZ(180deg);
	}
  
	&::before {
	  left: 0;
	  top: 0;
	}
  
	.slide {
	  height: 100px;
	  width: 250px;
	}
  }
  