.pink {
  background: rgba(248, 187, 208, 0.8);
  border-radius:15px;
  z-index: 1000;
  top:1.5rem ;
}
.blue {
  background: #e3f2fd;
}
.carousel-indicators {
  bottom: 10px;
}
.carouselIndiBtn {
  border: 0;
  margin: 1px;
  padding: 1%;
  border-radius: 25px;
  opacity: 0.5;
}
.carouselIndiBtn.active {
  opacity: 0.8;
}
.navbar-nav {
  flex: 1;
}
.carouselTop {
  position: absolute;
  top: 0;
  right: 0;
}
.bio{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen {
    
}
